##SSH
SSH_HOST=188.166.82.252
SSH_USER=mgx

# Mysql
DB_CLIENT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=immoplus_db_sandbox
DB_USER=root
DB_PASSWORD=qqRFU1BFHUaL661rsSsea

#DB_CLIENT=mysql
#DB_HOST=188.166.82.252
#DB_PORT=3306
#DB_DATABASE=immoplusdbprod
#DB_USER=immoplususerprod
#DB_PASSWORD=6AUPAcdy53vhQRQdJB0X

# JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# SMS
SMS_SENDER_NAME=immoplus

# TWILIO
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_MESSAGING_SERVICE_ID=your_twilio_messaging_service_sid
TWILIO_VERIFY_SERVICE_ID=your_twilio_verify_service_sid

# MAILING
NODE_MAILER_HOST=mail.inexa-ci.com
NODE_MAILER_PORT=587
NODE_MAILER_USER=3522_java
NODE_MAILER_PASSWORD='3oL.CFz72]a0cI)['
NODE_MAILER_FROM=app-java@inexa-ci.com
NODE_MAILER_SECURE=false
NODE_MAILER_IGNORE_TLS=false
NODE_MAILER_PROTOCOL=smtp

# UPLOADS
NEST_PORT=3005
NEST_UPLOAD_DIR=./uploads
NEST_CONTAINER_NAME=immoplus_nest_api
NEST_APP_PROFILE=dev
NEST_SWAGGER_ENABLED=true
NEST_APP_ADMIN_PASSWORD_ID=0bfe9454-ca18-42eb-8cdb-7ee8b942bfg7
NEST_APP_ADMIN_PASSWORD_HASH="$2b$10$Z/jgR8SxV7soRG2JuNKsl.IvGtKFXN9b6qhW2//dfN/AwNGf4NVJS"


#K6
K6_API_URL=http://localhost:3000
K6_PRO_USERNAME=pro-entreprise@immoplus.ci
K6_PRO_PASSWORD=@Admin2019

# DOCKER

#DB_CLIENT="mysql"
#DB_HOST="127.0.0.1"
#DB_PORT=3306
#DB_DATABASE=immoplus_db
#DB_USER=immoplus
#DB_PASSWORD=qqRFU1BFHUaL661rsSsea
#DB_ROOT_PASSWORD=qqRFU1BFHUaL661rsSsea
DB_CONTAINER_NAME=immoplus_nestjs_db
#
#PMA_CONTAINER_NAME=immoplus_nestjs_pma
#PMA_PORT=8087
