##SSH
SSH_HOST=188.166.82.252
SSH_USER=mgx

# Mysql
DB_CLIENT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=example_db
DB_USER=example_user
DB_PASSWORD=example_password

# Mysql Production - Digital Ocean
DB_CLIENT=mysql
DB_HOST=example.prod.mysql.host
DB_PORT=3306
DB_DATABASE=example_prod_db
DB_USER=example_prod_user
DB_PASSWORD=example_prod_password
DB_SSL_ENABLED=false
DB_SSL_CA_PATH=./ca-certificate.crt
DB_SSL_REJECT_UNAUTHORIZED=true

#DB_CLIENT=mysql
#DB_HOST=example.old.mysql.host
#DB_PORT=3306
#DB_DATABASE=example_old_db
#DB_USER=example_old_user
#DB_PASSWORD=example_old_password

# JWT
JWT_SECRET=example_jwt_secret
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=example_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# SMS
SMS_SENDER_NAME=example_sms_sender

# MAILING
NODE_MAILER_HOST=example.mail.host
NODE_MAILER_PORT=587
NODE_MAILER_USER=example_mail_user
NODE_MAILER_PASSWORD=example_mail_password
NODE_MAILER_FROM=example@domain.com
NODE_MAILER_SECURE=false
NODE_MAILER_IGNORE_TLS=false
NODE_MAILER_PROTOCOL=smtp

# UPLOADS
NEST_PORT=3000
NEST_UPLOAD_DIR=./uploads
NEST_CONTAINER_NAME=example_nest_container
NEST_APP_PROFILE=dev
NEST_SWAGGER_ENABLED=true
NEST_APP_ADMIN_PASSWORD_ID=example-admin-password-id
NEST_APP_ADMIN_PASSWORD_HASH=example_admin_password_hash

#K6
K6_API_URL=http://localhost:3000
K6_PRO_USERNAME=example_k6_user
K6_PRO_PASSWORD=example_k6_password

# DOCKER

#DB_CLIENT="mysql"
#DB_HOST="example.docker.mysql.host"
#DB_PORT=3306
#DB_DATABASE=example_docker_db
#DB_USER=example_docker_user
#DB_PASSWORD=example_docker_password
#DB_ROOT_PASSWORD=example_docker_root_password
DB_CONTAINER_NAME=example_db_container
#
#PMA_CONTAINER_NAME=example_pma_container
#PMA_PORT=8080

GOOGLE_CLIENT_ID=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
